In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

1. Write a Pandas program to create
    
    a) Datetime object for Jan 15 2012.
    
    b) Specific date and time of 9:20 pm.
    
    c) Local date and time.
    
    d) A date without time.
    
    e) Current date.
    
    f) Time from a datetime.
    
    g) Current local time.

In [4]:
# a) Datetime object for Jan 15 2012.
print(pd.to_datetime('2012-01-15'))

# b) Specific date and time of 9:20 pm.
print(pd.to_datetime('2012-01-15 21:20:00'))

# c) Local date and time.
print(pd.to_datetime('now'))

# d) A date without time.
print(pd.to_datetime('2012-01-15').date())

# e) Current date.
print(pd.to_datetime('now').date())

# f) Time from a datetime.
print(pd.to_datetime('now').time())

# g) Current local time.
print(pd.to_datetime('now').time())

2012-01-15 00:00:00
2012-01-15 21:20:00
2024-10-21 09:11:21.799231
2012-01-15
2024-10-21
09:11:21.803513
09:11:21.803857


2. Write a Pandas program to create

    a) a specific date using timestamp.

    b) date and time using timestamp.

    c) a time adds in the current local date using timestamp.

    d) current date and time using timestamp.

In [185]:
# a) A specific date using timestamp
specific_date = pd.Timestamp('2024-10-21')
print("a)", specific_date)

# b) Date and time using timestamp
specific_date_time = pd.Timestamp('2024-10-21 15:45')
print("b)", specific_date_time)

# c) A time added to the current local date using timestamp
time_added = pd.Timestamp.now().replace(hour=14, minute=30)
print("c)", time_added)

# d) Current date and time using timestamp
current_date_time = pd.Timestamp.now()
print("d)", current_date_time)

a) 2024-10-21 00:00:00
b) 2024-10-21 15:45:00
c) 2024-10-21 14:30:14.574063
d) 2024-10-21 13:38:14.574650


3. Write a Pandas program to create a date from a given year, month, day and
another date from a given string formats.

In [ ]:
# 3. Write a Pandas program to create a date from a given year, month, day and
# another date from a given string formats.

from datetime import date

# Create a date from year, month, day
year = 2023
month = 10
day = 26
date_from_ymd = date(year, month, day)
print("Date from year, month, day:", date_from_ymd)

# Create a date from a string format
date_string = "2023-10-27"
date_from_string = pd.to_datetime(date_string).date()
print("Date from string format:", date_from_string)


4. Write a Pandas program to print the day after and before a specified date. Also
print the days between two given dates.

In [101]:
mydate = pd.to_datetime('2012-01-15')
print(mydate)
print(mydate + pd.Timedelta(days=1))
print(mydate - pd.Timedelta(days=1))

dates = list(pd.date_range('2012-01-01', '2012-01-15'))
print("Dates between '2012-01-01' and '2012-01-15':\n", dates)

2012-01-15 00:00:00
2012-01-16 00:00:00
2012-01-14 00:00:00
Dates between '2012-01-01' and '2012-01-15':
 [Timestamp('2012-01-01 00:00:00'), Timestamp('2012-01-02 00:00:00'), Timestamp('2012-01-03 00:00:00'), Timestamp('2012-01-04 00:00:00'), Timestamp('2012-01-05 00:00:00'), Timestamp('2012-01-06 00:00:00'), Timestamp('2012-01-07 00:00:00'), Timestamp('2012-01-08 00:00:00'), Timestamp('2012-01-09 00:00:00'), Timestamp('2012-01-10 00:00:00'), Timestamp('2012-01-11 00:00:00'), Timestamp('2012-01-12 00:00:00'), Timestamp('2012-01-13 00:00:00'), Timestamp('2012-01-14 00:00:00'), Timestamp('2012-01-15 00:00:00')]


5. Write a Pandas program to create a time-series with two index labels and
random values. Also print the type of the index.

In [14]:
dates = pd.date_range("2024-04-12", periods=5, freq='D')
random_vals = np.random.rand(5)
time_series = pd.DataFrame({'Dates':dates,
                            'Random value': random_vals})
print("time_series:\n",time_series)
print("Type time_series:\n", time_series.dtypes)

time_series:
        Dates  Random value
0 2024-04-12      0.978810
1 2024-04-13      0.695272
2 2024-04-14      0.853292
3 2024-04-15      0.536858
4 2024-04-16      0.839500
Type time_series:
 Dates           datetime64[ns]
Random value           float64
dtype: object


6. Write a Pandas program to create a time-series from a given list of dates as
strings.

In [15]:
list_d = ['2024-04-13','2024-04-14','2024-04-12','2024-04-15','2024-04-16']
time_series = pd.DataFrame({'Dates':list_d})
time_series['Dates'] = time_series['Dates'].apply(pd.to_datetime)
print(time_series)
print(time_series.dtypes)

       Dates
0 2024-04-13
1 2024-04-14
2 2024-04-12
3 2024-04-15
4 2024-04-16
Dates    datetime64[ns]
dtype: object


7. Write a Pandas program to create a time series object that has time indexed
data. Also select the dates of same year and select the dates between certain
dates.

In [30]:
times = pd.date_range('2024-03-21', periods=15, freq='4M')
random_vlas = np.random.rand(15)
time_series = pd.DataFrame({'Dates':times,
                            'Random value': random_vlas})

time_series.set_index('Dates', inplace=True)
print(time_series)

print("\nSelecting athe 2024 year")
print(time_series.loc['2024'])

print("\nSelecting between dates '2025-11-30':'2027-11-30")
print(time_series.loc['2025-11-30':'2027-11-30'])

            Random value
Dates
2024-03-31      0.838857
2024-07-31      0.414073
2024-11-30      0.633616
2025-03-31      0.384579
2025-07-31      0.170433
2025-11-30      0.442425
2026-03-31      0.798397
2026-07-31      0.951371
2026-11-30      0.017753
2027-03-31      0.317947
2027-07-31      0.130543
2027-11-30      0.938844
2028-03-31      0.816234
2028-07-31      0.722465
2028-11-30      0.549376

Selecting athe 2024 year
            Random value
Dates
2024-03-31      0.838857
2024-07-31      0.414073
2024-11-30      0.633616

Selecting between dates '2025-11-30':'2027-11-30
            Random value
Dates
2025-11-30      0.442425
2026-03-31      0.798397
2026-07-31      0.951371
2026-11-30      0.017753
2027-03-31      0.317947
2027-07-31      0.130543
2027-11-30      0.938844

<ipython-input-30-86201c520ebb>:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  times = pd.date_range('2024-03-21', periods=15, freq='4M')


8. Write a Pandas program to create a date range using a startpoint date and a
number of periods.

In [31]:
dates = pd.date_range("20-04-2024", periods=15, freq='D')
print(dates)

DatetimeIndex(['2024-04-20', '2024-04-21', '2024-04-22', '2024-04-23',
               '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-27',
               '2024-04-28', '2024-04-29', '2024-04-30', '2024-05-01',
               '2024-05-02', '2024-05-03', '2024-05-04'],
              dtype='datetime64[ns]', freq='D')


9. Write a Pandas program to create a whole month of dates in daily frequencies.

Also find the maximum, minimum timestamp and indexs.

In [36]:
dates = pd.date_range('2024-04-01', periods=30, freq='D')
dates

DatetimeIndex(['2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04',
               '2024-04-05', '2024-04-06', '2024-04-07', '2024-04-08',
               '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12',
               '2024-04-13', '2024-04-14', '2024-04-15', '2024-04-16',
               '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-20',
               '2024-04-21', '2024-04-22', '2024-04-23', '2024-04-24',
               '2024-04-25', '2024-04-26', '2024-04-27', '2024-04-28',
               '2024-04-29', '2024-04-30'],
              dtype='datetime64[ns]', freq='D')


10. Write a Pandas program to create a time series using three months
frequency.

In [40]:
dates = pd.date_range('2024-03-01', freq='3ME', periods=6)
dates

DatetimeIndex(['2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31',
               '2025-03-31', '2025-06-30'],
              dtype='datetime64[ns]', freq='3ME')


11. Write a Pandas program to create a sequence of durations increasing by an
hour.

In [42]:
dates = pd.date_range('2024-03-14', periods=10, freq='H')
dates

<ipython-input-42-b082a2d0d00a>:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range('2024-03-14', periods=10, freq='H')

DatetimeIndex(['2024-03-14 00:00:00', '2024-03-14 01:00:00',
               '2024-03-14 02:00:00', '2024-03-14 03:00:00',
               '2024-03-14 04:00:00', '2024-03-14 05:00:00',
               '2024-03-14 06:00:00', '2024-03-14 07:00:00',
               '2024-03-14 08:00:00', '2024-03-14 09:00:00'],
              dtype='datetime64[ns]', freq='h')


12. Write a Pandas program to convert year and day of year into a single
datetime column of a dataframe.

In [56]:
date_series = pd.DataFrame({'Year': [2011,2023,2014,2011,2023], 'Day of Year': [2,12,13,12,7]})
date_series['RandomNum'] = np.random.rand(5)
print(date_series)

date_series['DateTime'] = pd.to_datetime(date_series['Year'].astype(str) + '-' + date_series['Day of Year'].astype(str), format='%Y-%j')
print(date_series)

   Year  Day of Year  RandomNum
0  2011            2   0.796663
1  2023           12   0.496519
2  2014           13   0.758660
3  2011           12   0.578349
4  2023            7   0.480537
   Year  Day of Year  RandomNum   DateTime
0  2011            2   0.796663 2011-01-02
1  2023           12   0.496519 2023-01-12
2  2014           13   0.758660 2014-01-13
3  2011           12   0.578349 2011-01-12
4  2023            7   0.480537 2023-01-07


13. Write a Pandas program to create a series of Timestamps from a DataFrame
of integer or string columns. Also create a series of Timestamps using specified
columns.

In [193]:
df = pd.DataFrame({'year': [2017, 2018, 2019],
                   'month': [4, 5, 6],
                   'day': [14, 15, 16],
                   'hour': [2, 3, 4]})
print("Original dataframe:")
print(df)
result = pd.to_datetime(df)
print("\nSeries of Timestamps from the said dataframe:")
print(result)
print("\nSeries of Timestamps using specified columns:")
print(pd.to_datetime(df[['year', 'month', 'day']]))

Original dataframe:
   year  month  day  hour
0  2017      4   14     2
1  2018      5   15     3
2  2019      6   16     4

Series of Timestamps from the said dataframe:
0   2017-04-14 02:00:00
1   2018-05-15 03:00:00
2   2019-06-16 04:00:00
dtype: datetime64[ns]

Series of Timestamps using specified columns:
0   2017-04-14
1   2018-05-15
2   2019-06-16
dtype: datetime64[ns]


14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [83]:
dates =  pd.date_range('2024-03-12', periods=10, freq='D')
print(dates)
print()
print("Dates with weekday:\n",dates[dates.weekday < 5]) #Monday=0, Sunday=6

DatetimeIndex(['2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15',
               '2024-03-16', '2024-03-17', '2024-03-18', '2024-03-19',
               '2024-03-20', '2024-03-21'],
              dtype='datetime64[ns]', freq='D')

Dates with weekday:
 DatetimeIndex(['2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15',
               '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21'],
              dtype='datetime64[ns]', freq=None)


15. Write a Pandas program to get a time series with the last working days of
each month of a specific year.

In [104]:
dates = pd.date_range('2014-12-01',freq='ME',periods=10)
print(dates)

for d in dates:
    print("Last working day for month:", d.month)
    if d.weekday() == 6:
        print(d - pd.Timedelta(days=2)) #If Sunday -2
    elif d.weekday() == 5:
        print(d - pd.Timedelta(days=1)) #If Monday -1
    else:
        print(d)

DatetimeIndex(['2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31',
               '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31',
               '2015-08-31', '2015-09-30'],
              dtype='datetime64[ns]', freq='ME')
Last working day for month: 12
2014-12-31 00:00:00
Last working day for month: 1
2015-01-30 00:00:00
Last working day for month: 2
2015-02-27 00:00:00
Last working day for month: 3
2015-03-31 00:00:00
Last working day for month: 4
2015-04-30 00:00:00
Last working day for month: 5
2015-05-29 00:00:00
Last working day for month: 6
2015-06-30 00:00:00
Last working day for month: 7
2015-07-31 00:00:00
Last working day for month: 8
2015-08-31 00:00:00
Last working day for month: 9
2015-09-30 00:00:00


16. Write a Pandas program to create a time series combining hour and minute.

In [109]:
import pandas as pd

hours = [10, 11, 12, 13, 14]
minutes = [30, 45, 0, 15, 30]

# Combine hours and minutes into a list of strings
time_strings = [f"{hour}:{minute:02}" for hour, minute in zip(hours, minutes)]
time_series = pd.to_datetime(time_strings, format='%H:%M')

print(time_series)

DatetimeIndex(['1900-01-01 10:30:00', '1900-01-01 11:45:00',
               '1900-01-01 12:00:00', '1900-01-01 13:15:00',
               '1900-01-01 14:30:00'],
              dtype='datetime64[ns]', freq=None)


17. Write a Pandas program to convert unix/epoch time to a regular time stamp
in UTC. Also convert the said timestamp in to a given time zone.

In [112]:
# Unix/Epoch time
unix_time = 1678886400  # A Unix timestamp

utc_timestamp = pd.to_datetime(unix_time, unit='s', utc=True)
print("UTC Timestamp:", utc_timestamp)

eastern_timestamp = utc_timestamp.tz_convert('Asia/Kolkata')
print("Asia/Kolkata Timestamp:", eastern_timestamp)

UTC Timestamp: 2023-03-15 13:20:00+00:00
Asia/Kolkata Timestamp: 2023-03-15 18:50:00+05:30


18. Write a Pandas program to create a time series object with a time zone.

In [113]:
# Create a time series object with a time zone
time_series = pd.date_range('2023-01-01', periods=10, freq='D', tz='Asia/Kolkata')
print(time_series)

DatetimeIndex(['2023-01-01 00:00:00+05:30', '2023-01-02 00:00:00+05:30',
               '2023-01-03 00:00:00+05:30', '2023-01-04 00:00:00+05:30',
               '2023-01-05 00:00:00+05:30', '2023-01-06 00:00:00+05:30',
               '2023-01-07 00:00:00+05:30', '2023-01-08 00:00:00+05:30',
               '2023-01-09 00:00:00+05:30', '2023-01-10 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='D')


19. Write a Pandas program to remove the time zone information from a Time
series data.

In [115]:
import pandas as pd

# Create a time series with a time zone
time_series = pd.date_range('2023-01-01', periods=10, freq='D', tz='Asia/Kolkata')
print("time_series:\n", time_series)

# Remove the time zone information
time_series_no_tz = time_series.tz_localize(None)
print("time_series_no_tz: ", time_series_no_tz)

time_series:
 DatetimeIndex(['2023-01-01 00:00:00+05:30', '2023-01-02 00:00:00+05:30',
               '2023-01-03 00:00:00+05:30', '2023-01-04 00:00:00+05:30',
               '2023-01-05 00:00:00+05:30', '2023-01-06 00:00:00+05:30',
               '2023-01-07 00:00:00+05:30', '2023-01-08 00:00:00+05:30',
               '2023-01-09 00:00:00+05:30', '2023-01-10 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='D')
time_series_no_tz:  DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq=None)


20. Write a Pandas program to subtract two timestamps of same time zone or
different time zone.

In [117]:
date1 = pd.Timestamp('2024-10-21')
print("date 1: ", specific_date)
date2 = pd.Timestamp('2024-11-21')
print("date 2: ", specific_date)

print("Diff: ", date2-date1)

date 1:  2024-10-21 00:00:00
date 2:  2024-10-21 00:00:00
Diff:  31 days 00:00:00


21. Write a Pandas program to calculate all Thursdays between two given days.

In [120]:
dates = pd.date_range('2024-10-21', freq='D', periods=30)
print("Thursdays:\n", list(dates[dates.weekday == 3]))

Thursdays:
 [Timestamp('2024-10-24 00:00:00'), Timestamp('2024-10-31 00:00:00'), Timestamp('2024-11-07 00:00:00'), Timestamp('2024-11-14 00:00:00')]


22. Write a Pandas program to find the all the business quarterly begin and end
dates of a specified year.

In [128]:
begin_dates = pd.date_range(start='2024-01-01',end='2024-12-31', freq='BQS')
print(begin_dates)
end_dates = pd.date_range(start='2024-01-01',end='2024-12-31', freq='BQE')
print(end_dates)

DatetimeIndex(['2024-01-01', '2024-04-01', '2024-07-01', '2024-10-01'], dtype='datetime64[ns]', freq='BQS-JAN')
DatetimeIndex(['2024-03-29', '2024-06-28', '2024-09-30', '2024-12-31'], dtype='datetime64[ns]', freq='BQE-DEC')


23. Write a Pandas program to generate sequences of fixed-frequency dates and
time spans intervals.

In [134]:
print("With dates and time spans (1 H):\n")
r1 = pd.date_range('2030-01-01', periods=10, freq='h')
print(r1)
print("\nWith dates and time spans (3 H):\n")
r2 = pd.date_range('2030-01-01', periods=10, freq='4h')
print(r2)

With dates and time spans (1 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 01:00:00',
               '2030-01-01 02:00:00', '2030-01-01 03:00:00',
               '2030-01-01 04:00:00', '2030-01-01 05:00:00',
               '2030-01-01 06:00:00', '2030-01-01 07:00:00',
               '2030-01-01 08:00:00', '2030-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='h')

With dates and time spans (3 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 04:00:00',
               '2030-01-01 08:00:00', '2030-01-01 12:00:00',
               '2030-01-01 16:00:00', '2030-01-01 20:00:00',
               '2030-01-02 00:00:00', '2030-01-02 04:00:00',
               '2030-01-02 08:00:00', '2030-01-02 12:00:00'],
              dtype='datetime64[ns]', freq='4h')


24. Write a Pandas program to generate time series combining day and intraday
offsets intervals.

In [136]:
dateset = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20U')
print("\nTime series with frequency 1 day 10 minutes and 20 microseconds:")
print(dateset)

Time series with frequency 1 day 10 minutes and 20 microseconds:
DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020us')

<ipython-input-136-4d39d5e9d567>:1: FutureWarning: 'U' is deprecated and will be removed in a future version, please use 'us' instead.
  dateset = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20U')

25. Write a Pandas program to extract the day name from a specified date. Add 2
days and 1 business day with the specified date.

In [139]:
newday = pd.Timestamp('2020-02-07')
print("First date:")
print(newday)
print("\nThe day name of the said date:")
print(newday.day_name())
print("\nAdd 2 days with the said date:")
newday1 = newday + pd.Timedelta('2 day')
print(newday1.day_name())
print("\nNext business day:")
nbday = newday + pd.offsets.BDay()
print(nbday.day_name())

First date:
2020-02-07 00:00:00

The day name of the said date:
Friday

Add 2 days with the said date:
Sunday

Next business day:
Monday


26. Write a Pandas program to convert integer or float epoch times to Timestamp
and DatetimeIndex.

In [141]:
import pandas as pd
dates1 = pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705], unit='s')
print("dates1:\n", dates1)
print("\nConvert integer or float epoch times to Timestamp and DatetimeIndex upto second:")
print(dates1)
print("\nConvert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:")
dates2 = pd.to_datetime([1249720105100, 1249720105200, 1249720105300,
                1249720105400, 1249720105500], unit='ms')
print(dates2)

dates1:
 DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:
DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:
DatetimeIndex(['2009-08-08 08:28:25.100000', '2009-08-08 08:28:25.200000',
               '2009-08-08 08:28:25.300000', '2009-08-08 08:28:25.400000',
               '2009-08-08 08:28:25.500000'],
              dtype='datetime64[ns]', freq=None)


27. Write a Pandas program to calculate one, two, three business day(s) from a
specified date. Also find the next business month end from a specific date.

In [159]:
bdates = pd.date_range('2012-02-5', freq='B', periods=3)
print("one, two, three business day:\n", bdates)

nxt_bmonth_end = pd.date_range('2012-02-5', freq='BME', periods=1)
print("next business month end:\n", nxt_bmonth_end)

one, two, three business day:
 DatetimeIndex(['2012-02-06', '2012-02-07', '2012-02-08'], dtype='datetime64[ns]', freq='B')
next business month end:
 DatetimeIndex(['2012-02-29'], dtype='datetime64[ns]', freq='BME')

28. Write a Pandas program to create a period index represent all monthly
boundaries of a given year. Also print start and end time for each period object in the said index.

In [164]:
dateset = pd.period_range('2020/1/1', '2020/12/31', freq='M')
print("All monthly boundaries of a given year:")
print(dateset)
print("\nStart and end time for each period object in the said index:")
for d in dateset:
    print (f"start_time: {d.start_time}, end_time: {d.end_time}")

All monthly boundaries of a given year:
PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]')

Start and end time for each period object in the said index:
start_time: 2020-01-01 00:00:00, end_time: 2020-01-31 23:59:59.999999999
start_time: 2020-02-01 00:00:00, end_time: 2020-02-29 23:59:59.999999999
start_time: 2020-03-01 00:00:00, end_time: 2020-03-31 23:59:59.999999999
start_time: 2020-04-01 00:00:00, end_time: 2020-04-30 23:59:59.999999999
start_time: 2020-05-01 00:00:00, end_time: 2020-05-31 23:59:59.999999999
start_time: 2020-06-01 00:00:00, end_time: 2020-06-30 23:59:59.999999999
start_time: 2020-07-01 00:00:00, end_time: 2020-07-31 23:59:59.999999999
start_time: 2020-08-01 00:00:00, end_time: 2020-08-31 23:59:59.999999999
start_time: 2020-09-01 00:00:00, end_time: 2020-09-30 23:59:59.999999999
start_time: 2020-10-01 00:00:00, end_time: 2020-10-31 23:59:59.999999999
start_time: 2020-11-01 00:00:00, end_time: 2020-11-30 23:59:59.999999999
start_time: 2020-12-01 00:00:00, end_time: 2020-12-31 23:59:59.999999999


29. Write a Pandas program create a series with a PeriodIndex which represents
all the calendar month periods in 2029 and 2031. Also print the values for all
periods in 2030.
Note: PeriodIndex is an immutable ndarray holding ordinal values indicating
regular periods in time such as particular years, quarters, months, etc.

In [167]:
pi = pd.Series(np.random.randn(36),
               index=pd.period_range('1/1/2029', '12/31/2031', freq='M'))
print("PeriodIndex calendar month periods in 2029 and 2030:")
print(pi)
print("\nValues for all periods in 2030:")
print(pi['2030'])

PeriodIndex calendar month periods in 2029 and 2030:
2029-01    0.426964
2029-02    1.102335
2029-03   -0.526297
2029-04    1.877014
2029-05    0.108861
2029-06    0.154926
2029-07    0.767245
2029-08   -0.185817
2029-09    1.933159
2029-10   -0.395761
2029-11    0.300805
2029-12   -1.245383
2030-01   -1.143506
2030-02   -1.108476
2030-03    0.409954
2030-04   -0.634958
2030-05    2.205588
2030-06   -0.491069
2030-07    0.420343
2030-08   -2.510183
2030-09    0.830999
2030-10   -0.032210
2030-11   -0.274284
2030-12   -0.513558
2031-01   -0.026457
2031-02   -1.023678
2031-03    0.344266
2031-04    0.497283
2031-05    1.133448
2031-06   -0.134099
2031-07   -0.672980
2031-08   -0.075155
2031-09    1.070741
2031-10    1.489052
2031-11    1.061123
2031-12    0.311892
Freq: M, dtype: float64

Values for all periods in 2030:
2030-01   -1.143506
2030-02   -1.108476
2030-03    0.409954
2030-04   -0.634958
2030-05    2.205588
2030-06   -0.491069
2030-07    0.420343
2030-08   -2.510183
2030-09    0.830999
2030-10   -0.032210
2030-11   -0.274284
2030-12   -0.513558
Freq: M, dtype: float64


30. Write a Pandas program to generate holidays between two dates using the
US federal holiday calendar.

In [171]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar

print("Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.")
cal = USFederalHolidayCalendar()
for dt in cal.holidays(start='1/1/2024', end='31/12/2024'):
    print (dt)

Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.
2024-01-01 00:00:00
2024-01-15 00:00:00
2024-02-19 00:00:00
2024-05-27 00:00:00
2024-06-19 00:00:00
2024-07-04 00:00:00
2024-09-02 00:00:00
2024-10-14 00:00:00
2024-11-11 00:00:00
2024-11-28 00:00:00
2024-12-25 00:00:00


31. Write a Pandas program to create a monthly time period and display the list
of names in the current local scope.

In [174]:
mtp = pd.Period('2001-8','M')
print("Monthly time perid: ",mtp)
print("\nList of names in the current local scope:")
print(dir(mtp))

Monthly time perid:  2001-08

List of names in the current local scope:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']


32. Write a Pandas program to create a yearly time period from a specified year
and display the properties of this period.

In [178]:
ytp = pd.Period('2010')
print("Yearly time perid:",ytp)
print("\nAll the properties of the said period:")
print(dir(ytp))

Yearly time perid: 2010

All the properties of the said period:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']